@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import "tailwindcss";

@theme {
  --color-cradbg: #333333;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

body {
  font-family: "Fira Code", monospace;
  background: linear-gradient(
    270deg,
    #0d0d0d,
    #1f1f1f,
    #111111,
    #0f0c29,
    #302b63,
    #24243e
  );
  background-size: 1000% 1000%;
  animation: gradientBackground 20s ease infinite;
  background-attachment: fixed; /* ✅ ทำให้พื้นหลังเคลื่อนต่างจาก content */
  background-repeat: no-repeat;
}

@keyframes gradientBackground {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(
    270deg,
    #0d0d0d,
    #1f1f1f,
    #111111,
    #0f0c29,
    #302b63,
    #24243e
  );
  background-size: 1000% 1000%;
  animation: gradientBackground 20s ease infinite;
}
